doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css')
  body
    block content

    footer
      p Created by TEAM NGNL for Calhacks 2.0
      p Copyright 2015
